---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <title>{{ site.data.settings.title }}</title>

  <link rel="stylesheet" href="assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KN6ZWN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KN6ZWN');</script>
<!-- End Google Tag Manager -->

{% include header.html %}

{% include about.html %}

{% include work.html %}

{% include clients.html %}

{% include contact.html %}

{% include form.html %}


{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
</html>
